NET "FPGA_SYSTEMACE_CLOCK" LOC = "AH15";
NET "FPGA_SYSTEMACE_CLOCK" IOSTANDARD = LVCMOS25;
NET "FPGA_SYSTEMACE_CLOCK" TNM_NET = "FPGA_SYSTEMACE_CLOCK";
TIMESPEC "TS_FPGA_SYSTEMACE_CLOCK" = PERIOD "FPGA_SYSTEMACE_CLOCK" 31.25 ns HIGH 50 %;

NET "SW_0" LOC = "AC11";
NET "SW_1" LOC = "AD11";
NET "SW_2" LOC = "AF8";
NET "SW_3" LOC = "AF9";
NET "SW_0" IOSTANDARD = LVCMOS25;
NET "SW_1" IOSTANDARD = LVCMOS25;
NET "SW_2" IOSTANDARD = LVCMOS25;
NET "SW_3" IOSTANDARD = LVCMOS25;

NET "PB_ENTER" LOC = "AG5";
NET "PB_UP" LOC = "AH4";
NET "PB_DOWN" LOC = "AG3";
NET "PB_LEFT" LOC = "AH1";
NET "PB_RIGHT" LOC = "AH2";
NET "PB_ENTER" IOSTANDARD = LVTTL;
NET "PB_UP" IOSTANDARD = LVTTL;
NET "PB_DOWN" IOSTANDARD = LVTTL;
NET "PB_LEFT" IOSTANDARD = LVTTL;
NET "PB_RIGHT" IOSTANDARD = LVTTL;

NET "LED_0" LOC = "AC4";
NET "LED_1" LOC = "AC3";
NET "LED_2" LOC = "AA6";
NET "LED_3" LOC = "AA5";
NET "LED_0" IOSTANDARD = LVTTL;
NET "LED_1" IOSTANDARD = LVTTL;
NET "LED_2" IOSTANDARD = LVTTL;
NET "LED_3" IOSTANDARD = LVTTL;
NET "LED_0" DRIVE = 12;
NET "LED_1" DRIVE = 12;
NET "LED_2" DRIVE = 12;
NET "LED_3" DRIVE = 12;
NET "LED_0" SLEW = SLOW;
NET "LED_1" SLEW = SLOW;
NET "LED_2" SLEW = SLOW;
NET "LED_3" SLEW = SLOW;

NET "RS232_TX_DATA" LOC = "AE7";
NET "RS232_RX_DATA" LOC = "AJ8";

NET "RS232_TX_DATA" IOSTANDARD = LVCMOS25;
NET "RS232_RX_DATA" IOSTANDARD = LVCMOS25;

NET "RS232_TX_DATA" DRIVE = 8;

NET "RS232_TX_DATA" SLEW = SLOW;


